section.city-section
  .wrapper
    .city-section__container
      h2.city-section__title.font-w-h-bold.font-s-44.text-up.color-e9
        | Присоединяйтесь 
        br.no-br
        | к франшизе 
        span.color-pink «PINK ROSE»
      .city-section__sub-title.font-w-h-regular.font-s-24
        | и зарабатывайте от 4,2 млн чистой 
        br.no-br
        | прибыли в год
      .city-section__bottom
        form.city-section__form(data-feedback-form)
          input(type="text" name="honeyfield" class="honeypot" style="display:none")
          input.input(type="text" name="name" autocomplete="off" placeholder="Имя")
          input.input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
          button.btn(type="submit") ПРОВЕРИТЬ
        .city-section__bottom-block
          img.city-section__bottom-img(src="images/main-section-bottom-img.png" loading="lazy" width="356" height="270" alt="image")
          .font-w-u-regular.font-s-18
            | Проверьте, свободен ли 
            br.no-br
            | ваш город для работы 
            br.no-br
            | с нами
