section.details-section
  .wrapper
    .details-section__container
      h2.details-section__title.font-w-h-bold.font-s-36.text-up
        | Узнайте 
        span.color-pink все детали 
        | ведения цветочного 
        br.no-br
        | бизнеса
      .details-section__box
        .swiper-bullet
          .details-section__cards.swiper-wrapper
            .details-section__card.swiper-slide
              .font-w-j-regular.font-s-64.color-pink 01
              .font-w-h-regular.font-s-24 Из чего состоит ежедневная работа владельца цветочного салона
            .details-section__card.swiper-slide
              .font-w-j-regular.font-s-64.color-pink 02
              .font-w-h-regular.font-s-24 Как правильно организовать работу вашей команды флористов
            .details-section__card.swiper-slide
              .font-w-j-regular.font-s-64.color-pink 03
              .font-w-h-regular.font-s-24 На что обращать внимание при ценообразовании и работе с клиентами
            .details-section__card.swiper-slide
              .font-w-j-regular.font-s-64.color-pink 04
              .font-w-h-regular.font-s-24 Как избежать списаний и делать максимальные продажи цветов
            .details-section__card.swiper-slide
              .font-w-j-regular.font-s-64.color-pink 05
              .font-w-h-regular.font-s-24 Как правильно позиционировать себя на рынке и кто ваша ЦА
            .details-section__card.swiper-slide
              .font-w-j-regular.font-s-64.color-pink 06
              .font-w-h-regular.font-s-24 Какие маркетинговые инструменты по-настоящему работают
            .details-section__card.swiper-slide
              .font-w-j-regular.font-s-64.color-pink 07
              .font-w-h-regular.font-s-24 Как быстро вы выйдете на стабильную чистую прибыль
          .bullet-pagination
      form.details-section__form(data-feedback-form)
        input(type="text" name="honeyfield" class="honeypot" style="display:none")
        input.input(type="text" name="name" autocomplete="off" placeholder="Имя")
        input.input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
        button.btn(type="submit") ЗАПИСАТЬСЯ
