footer.footer
  .wrapper
    .footer__container
      .footer__brand-block
        img.footer__logo(src="images/logo.png" loading="lazy" width="345" height="315" alt="logo")
        .footer__brand
          .font-w-semi-bold.font-s-26 PINK ROSE
          .font-w-regular.font-s-18 Франшиза цветочного <br> салона
      a.footer__privacy.font-w-i-regular.font-s-16(href="#" data-remodal-target="privacy").agree-privacy Политика конфиденциальности
      .footer__connection
        include ../components/phone-number.pug
