header.header
  .wrapper
    .header__container
      .header__brand-block
        img.header__logo(src="images/logo.png" loading="lazy" width="345" height="315" alt="logo")
        .header__brand
          .font-w-semi-bold.font-s-26 PINK ROSE
          .font-w-regular.font-s-18 Франшиза цветочного <br> салона
      button.btn.btn--call-me(data-remodal-target="modal-form-call-me") Обратный звонок
  .header__brand-mobile.font-w-regular.font-s-18 Франшиза цветочного салона
