section.info-section
  .wrapper
    .info-section__container
      img.info-section__icon(src="images/info-section-icon.png" loading="lazy" width="1109" height="1044" alt="icon")
      h2.info-section__title.font-w-h-bold.font-s-36.text-up.color-e9
        | Вам подойдет эта франшиза, если:
      .info-section__box
        .swiper-bullet
          .info-section__cards.swiper-wrapper
            .info-section__card.swiper-slide
              .font-w-j-regular.font-s-64.color-pink 01
              .info-section__card-text.font-w-h-regular.font-s-24 Вы хотите развивать свое дело в этой нише, но не знаете с чего начать
            .info-section__card.swiper-slide
              .font-w-j-regular.font-s-64.color-pink 02
              .info-section__card-text.font-w-h-regular.font-s-24 Для вас важно начать зарабатывать сразу после открытия бизнеса
            .info-section__card.swiper-slide
              .font-w-j-regular.font-s-64.color-pink 03
              .info-section__card-text.font-w-h-regular.font-s-24 Вы мечтаете работать в команде с опытными предпринимателями
            .info-section__card.swiper-slide
              .font-w-j-regular.font-s-64.color-pink 04
              .info-section__card-text.font-w-h-regular.font-s-24 У вас много бизнес-идей, но не хватает инструментов для реализации
            .info-section__card.swiper-slide
              .font-w-j-regular.font-s-64.color-pink 05
              .info-section__card-text.font-w-h-regular.font-s-24 Вы хотите запустить цветочный салон, который сразу выделится на рынке
          .bullet-pagination.bullet-pagination--secondary
      img.info-section__img(src="images/info-section-img.png" loading="lazy" width="726" height="630" alt="image")
      .info-section__bottom-text.font-w-h-regular.font-s-24
        | Если все это про вас, то мы ждем вас в 
        br.no-br
        | нашей команде!
