section.reasons-section
  .wrapper
    .reasons-section__container
      h2.reasons-section__title.font-w-h-bold.font-s-36.text-up
        span.color-pink 4 причины 
        | стать нашим партнером
      .swiper-bullet
        .reasons-section__cards.swiper-wrapper
          .reasons-section__card.swiper-slide
            .font-w-g-semi-bold.font-s-24-a Качественный продукт
            .font-w-g-medium.font-s-16-a
              | Мы работаем напрямую с плантациями Кении, Эквадора и 
              br.no-br
              | Голландии, поэтому у нас всегда свежие цветы, которые мы 
              br.no-br
              | будем поставлять и на вашу точку + предоставим контакты 
              br.no-br
              | проверенных поставщиков
          .reasons-section__card.swiper-slide
            .font-w-g-semi-bold.font-s-24-a Готовая концепция
            .font-w-g-medium.font-s-16-a
              | Вы откроете салон, где будет предоставляться самый 
              br.no-br
              | широкий ассортимент цветов и сопутствующих товаров 
              br.no-br
              | среди конкурентов, и будете предоставлять доступные цены 
              br.no-br
              | и услуги самой быстрой доставки
          .reasons-section__card.swiper-slide
            .font-w-g-semi-bold.font-s-24-a Бизнес-модель
            .font-w-g-medium.font-s-16-a
              | Вы получите все необходимые данные для успешного 
              br.no-br
              | старта и поддержку на всех этапах открытия: от 
              br.no-br
              | формирования команды специалистов и выбора помещения 
              br.no-br
              | до организации работы маркетинга и бухгалтерии
          .reasons-section__card.swiper-slide
            .font-w-g-semi-bold.font-s-24-a Опытные партнеры
            .font-w-g-medium.font-s-16-a
              | Мы более 10-ти лет на рынке и открыли уже 3 прибыльных 
              br.no-br
              | точки сети, поэтому сможем уберечь вас от популярных 
              br.no-br
              | ошибок новичков и дать рекомендации по эффективному 
              br.no-br
              | использованию инвестиций
        .bullet-pagination
      .reasons-section__bottom.font-w-g-medium
        .font-s-24 Узнайте больше о работе с нами
        .reasons-section__bottom-text.font-s-24
          | Скачайте договор, в котором прописаны 
          br.no-br
          | наши обязанности и все условия сотрудничества
        button.btn.reasons-section__btn(data-remodal-target="modal-form-agreement") СКАЧАТЬ
