.btn
  height: 45px
  width 100%
  user-select: none
  position: relative
  display: flex;
  justify-content: center
  align-items: center
  overflow: hidden
  color: #fff
  border-radius: 13px
  box-shadow: 0px 4px 9px 0px rgba(5, 25, 77, 0.1);
  background: radial-gradient( 838.61% 122.58% at 8% 0%,rgb(204, 46, 113),rgb(119, 29, 68) 56.25%,rgb(220, 50, 123) 100%)
  text-transform: uppercase
  font-family: 'Unbounded-Medium'
  font-weight: 500
  font-size: 14px
  line-height: 110%
  transition transform 0.5s, top 0.8s
  letter-spacing: 1px
  +above($breakpoints.sm)
    font-size: 14px;
    height: 55px;
  +above($breakpoints.md)
    font-size: 16px;
    height: 65px;
  +above($breakpoints.xxl)
    font-size: 20px;
    height: 70px

  &:hover
    transform: scale(1.02)

  &:active
    top: 3px

  &::before
    content: ""
    position: absolute
    top: 0;
    height: 100%;
    width: 36px;
    transform: skewX(-45deg)
    left: -150%
    pointer-events: none
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
    animation: flareAnimation 4s infinite ease-in;
    vendord = official
    @keyframes flareAnimation
      0%
          left: -150%
      100% 
          left: 250%

  &--black
    font-family: 'Gilroy-Semibold'
    font-weight: 600
    box-shadow: none
    background: #000
    letter-spacing: 0px
    +above($breakpoints.sm)
      font-size: 12px;
      height: 50px;
    +above($breakpoints.md)
      font-size: 14px;
      height: 55px;
    +above($breakpoints.xxl)
      font-size: 18px;
      height: 60px

  &--secondary
    +above($breakpoints.sm)
      font-size: 14px;
      height: 50px;
    +above($breakpoints.md)
      font-size: 14px;
      height: 55px;
    +above($breakpoints.xxl)
      font-size: 16px;
      height: 55px

  &--call-me
    background $color-pink
    box-shadow: unset
    text-transform: unset
    border-radius: 8px
    font-size: 10px;
    width: 155px;
    height: 32px;
    +above($breakpoints.sm)
      font-size: 11px;
      width: 160px;
      height: 36px;
    +above($breakpoints.md)
      font-size: 12px;
      width: 190px;
      height: 40px;
    +above($breakpoints.xxl)
      font-size: 13px;
      width: 203px;
      height: 49px;
