.bullet-pagination
  display: flex
  flex-direction: row
  justify-content center
  align-items: center
  margin 15px 0
  gap: 4px
  +above($breakpoints.sm)
    display: none
  &--secondary
    justify-content start
    margin 15px 0 0 20px

  .swiper-pagination-bullet
    background-color #d7d7d7
    width: 5px
    height: 5px
    border-radius: 50%
    opacity: 1
    position relative
  .swiper-pagination-bullet-active
    transform: scale(3);
    transition transform 0.4s
    background-image: url('../images/icon-rose.svg')
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    background-color: transparent
